* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#d1e9fa 0% 80%, #86c270);
}
img.moleImage{
    width: 300px;
    height: 300px;
}

.molebtn{
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 0%;
}

.moleCards{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
}

.moleHole{
    overflow: hidden;
}